body{
    background-color: #ebf8e9;
}
.heading{
    padding: 20px 0;
}
.heading h1{
    font-family: 'Secular One', sans-serif;
    font-size: 3rem;
    color: #0AA1DD;
}
.enrollment{
    background-color: #039419;
    color: white;
    padding: 7px 0;
}
.input-form{
    width: 500px;
}
.input-form .text{
    font-weight: bold;
    color: #44aa39;
}
.input-form label{
    color: #44aa39;
}
.input-form input{
    border-color:#44aa39;
    background-color: #ebf8e9;
}
.input-form input::placeholder{
    color: #8edf85;
}
.card-image{
    width: 150px;
    height: 150px;
}
.separator{
    width: 4px;
    background-color: #44aa39;
}
.detail{
    width: 500px;
}
.student p{
   margin: 0;
   font-weight: 500;
}
.description{
    font-weight:500;
    font-size: 1.1rem;
    color: white;
    background-color: #5cc051;
    display: flex;
    justify-content:space-around;
    border: 2px solid #5cc051;
    padding: 3px 0;
}
.description p{
    margin: auto 0;
}
.student{
    display: flex;
    justify-content: space-around;
    border: 2px solid #5cc051;
}
i{
    color: #44aa39;
}
span{
    font-size: 12px;
}
.content{
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width: 600px) {
   .content{
    display: block;
   }
   .separator{
    display: none;
   }
   .detail{
    width: 400px;
}
.input-form{
    width: 400px;
   
}
   
  }